
h1{
	font-size: 40px;
	background-color:#E44F2B;
	text-align: center;
}

h3{
	font-size: 40px;
	background-color:#E44F2B;
	text-align: center;
}

body{
	font-size: 16px;
	background-color:#292929; 
}
div{
	font-size: 20px;
	color:#ffff;
	width: 500px;
}
form{
		
	margin: 20px;
	padding: 20px;

}

p{
	font-family: "Arial";
	font-size: 14px;
}

label{
	font-size: 14px;
	display: block;
	width: 100%;
	font-family: "Arial";
	color:#fff;
}




input[type="submit"]{
	margin-bottom:0;
	background: #E44F2B;
	color:#fff;
	border:none;
}

input[type="submit"]:hover{
	background:#E44F2B;
	cursor:pointer;
}