

h1{
	font-size: 40px;
	background-color:#E44F2B;
	text-align: center;
}
body{
	font-size: 16px;
	background:#292929;
	font-family: "Arial";
	font-size: 14px;
	color:#fff;

}
div{
	font-size: 20px;
	color: #E44F2B;
	width: 600%;
}
form{
	width: 40%;
	margin: 20px;
	padding: 20px;
	color:#FBFBEF;
	border-radius: 5px;
	}

p{
	font-family: "Arial";
	font-size: 14px;
	color:#fff;

}

label{
	font-size: 14px;
	color:#fff;
	display: block;
	width: 100%;
	font-family: "Arial";

}

input{
	margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	-webkit-box-sizing:border-box;

}

input[type="checkbox"]{
    
}

input[type="submit"]{
	margin-bottom:0;
	background: #E44F2B;
	color:#fff;
	border:none;
}


@media (max-width: 480px){
	for{
		width:100%;
	}
}